html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 10px;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Italic-VariableFont_wght.ttf") format("truetype");
  src: url("../fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-Italic-VariableFont_wght.ttf") format("truetype");
  src: url("../fonts/Raleway-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.container {
  margin: 0 auto;
  max-width: 1170px;
}

.header {
  height: 100px;
}

.main__batton {
  color: #FFFFFF;
  border-radius: 59px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, #5c88c9), color-stop(48%, rgba(36, 111, 225, 0.48)));
  background: linear-gradient(#5c88c9 100%, rgba(36, 111, 225, 0.48) 48%);
  padding: 20px 41px;
  font-weight: 400;
  font-size: 24px;
  border: none;
}

.top__section {
  background: -webkit-gradient(linear, left top, right top, from(rgba(197, 234, 255, 0.3)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, rgba(197, 234, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
}

.top__container {
  background-size: contain;
  background-repeat: no-repeat;
}

.top__container .top__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.top__container .top__info .top__info-box {
  margin-top: 100px;
}

.top__container .top__info .top__info-box h1 {
  font-family: 'Raleway';
  font-weight: 900;
  font-size: 58px;
  line-height: 1.4;
  letter-spacing: 7%;
  color: #3a3f65;
}

.top__container .top__info .top__info-box h1 span {
  color: #5C88C9;
}

.top__container .top__info .top__info-box p {
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 21px;
  line-height: 30px;
  letter-spacing: 7%;
  color: #000000;
  opacity: 70%;
  max-width: 570px;
  margin-top: 10px;
}

.top__container .top__info .top__info-box button {
  margin-top: 20px;
  position: relative;
}

.top__container .top__info .top__info-box button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3em;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-transform: translateX(-4em) skewX(-45deg);
          transform: translateX(-4em) skewX(-45deg);
}

.top__container .top__info .top__info-box button:hover:before {
  -webkit-animation: moveLight 1s;
          animation: moveLight 1s;
}

@-webkit-keyframes moveLight {
  from {
    -webkit-transform: translateX(-4em) skewX(-45deg);
            transform: translateX(-4em) skewX(-45deg);
  }
  to {
    -webkit-transform: translateX(10em) skewX(-45deg);
            transform: translateX(10em) skewX(-45deg);
  }
}

@keyframes moveLight {
  from {
    -webkit-transform: translateX(-4em) skewX(-45deg);
            transform: translateX(-4em) skewX(-45deg);
  }
  to {
    -webkit-transform: translateX(10em) skewX(-45deg);
            transform: translateX(10em) skewX(-45deg);
  }
}

.top__container .top__info .top__info-box .top__futer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
}

.top__container .top__info .top__info-box .top__futer-info .futer__box-info {
  padding-right: 80px;
}

.top__container .top__info .top__info-box .top__futer-info .futer__box-info h3 {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 24px;
  line-height: 1.1;
  letter-spacing: 7%;
  color: #5C88C9;
}

.top__container .top__info .top__info-box .top__futer-info .futer__box-info p {
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 7%;
  color: #000000;
  opacity: 70%;
}

.top__container .top__info .img__wrapper {
  position: relative;
}

.img__wrapper::before {
  content: ' ';
  position: absolute;
  top: 70px;
  right: -50px;
  width: 530px;
  height: 530px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, #5c88c9), color-stop(48%, rgba(36, 111, 225, 0.48)));
  background: linear-gradient(#5c88c9 100%, rgba(36, 111, 225, 0.48) 48%);
  z-index: -1;
  opacity: 60%;
  -webkit-box-shadow: 5px 5px 23px 50px rgba(0, 0, 0, 0.11);
  box-shadow: 5px 5px 23px 50px rgba(0, 0, 0, 0.11);
}
/*# sourceMappingURL=style.css.map */