html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 10px;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat';
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Italic-VariableFont_wght.ttf") format("truetype");
  src: url("../fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-Italic-VariableFont_wght.ttf") format("truetype");
  src: url("../fonts/Raleway-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

html,
body {
  position: relative;
  height: 100%;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 15px;
}

.button {
  max-width: 218px;
  right: 0;
  color: #FFFFFF;
  border-radius: 59px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, #5c88c9), color-stop(48%, rgba(36, 111, 225, 0.48)));
  background: linear-gradient(#5c88c9 100%, rgba(36, 111, 225, 0.48) 48%);
  padding: 15px 41px;
  font-weight: 400;
  font-size: 24px;
  border: none;
  position: relative;
  overflow: hidden;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3em;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-transform: translateX(-4em) skewX(-45deg);
          transform: translateX(-4em) skewX(-45deg);
}

.button:hover:before {
  -webkit-animation: moveLight 1s;
          animation: moveLight 1s;
}

@-webkit-keyframes moveLight {
  from {
    -webkit-transform: translateX(-4em) skewX(-45deg);
            transform: translateX(-4em) skewX(-45deg);
  }
  to {
    -webkit-transform: translateX(10em) skewX(-45deg);
            transform: translateX(10em) skewX(-45deg);
  }
}

@keyframes moveLight {
  from {
    -webkit-transform: translateX(-4em) skewX(-45deg);
            transform: translateX(-4em) skewX(-45deg);
  }
  to {
    -webkit-transform: translateX(10em) skewX(-45deg);
            transform: translateX(10em) skewX(-45deg);
  }
}

a {
  color: #000000;
}

:root {
  --index: calc(1vw + 1vh);
  --side-small: 26;
  --side-big:36;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.header .header_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
  position: relative;
}

.header .header_body .header_logotype {
  position: relative;
  z-index: 3;
  margin-left: 20px;
}

.header .header_body .header_menu .header_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 3;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header .header_body .header_menu .header_list li {
  margin-left: 60px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  text-align: center;
  text-transform: capitalize;
  color: #000000;
}

.header .header_body .selection_languages {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.header .header_body .selection_languages .lang_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header_body .selection_languages img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid whitesmoke;
}

.header::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 1;
  top: 0;
  left: 0;
  z-index: 3;
}

.main__batton {
  color: #FFFFFF;
  border-radius: 59px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, #5c88c9), color-stop(48%, rgba(36, 111, 225, 0.48)));
  background: linear-gradient(#5c88c9 100%, rgba(36, 111, 225, 0.48) 48%);
  padding: 20px 41px;
  font-weight: 400;
  font-size: 24px;
  border: none;
}

.top__section {
  background: -webkit-gradient(linear, left top, right top, from(rgba(197, 234, 255, 0.3)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, rgba(197, 234, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
  margin-top: 80px;
}

.top__container {
  background-size: contain;
  background-repeat: no-repeat;
}

.top__container .top__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top__container .top__info .top__img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top__container .top__info .top__info-box {
  margin-top: 100px;
}

.top__container .top__info .top__info-box .name_person {
  width: 600px;
}

.top__container .top__info .top__info-box .name_person .firstname {
  font-family: 'Raleway';
  font-weight: 900;
  font-size: calc(var(--index)*3);
  line-height: 1.4;
  letter-spacing: 7%;
  color: #3a3f65;
}

.top__container .top__info .top__info-box .name_person h2 {
  color: #5C88C9;
  font-family: 'Raleway';
  font-weight: 900;
  font-size: calc(var(--index)*3);
  line-height: 1.4;
  letter-spacing: 4%;
}

.top__container .top__info .top__info-box p {
  font-family: 'Raleway';
  font-weight: 400;
  font-size: calc(var(--index)*1.2);
  line-height: 30px;
  letter-spacing: 7%;
  line-height: 33px;
  color: #000000;
  opacity: 70%;
  margin-top: 10px;
}

.top__container .top__info .top__info-box button {
  margin-top: 20px;
  position: relative;
  max-width: 218px;
  overflow: hidden;
}

.top__container .top__info .top__info-box button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3em;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-transform: translateX(-4em) skewX(-45deg);
          transform: translateX(-4em) skewX(-45deg);
}

.top__container .top__info .top__info-box button:hover:before {
  -webkit-animation: moveLight 1s;
          animation: moveLight 1s;
}

@keyframes moveLight {
  from {
    -webkit-transform: translateX(-4em) skewX(-45deg);
            transform: translateX(-4em) skewX(-45deg);
  }
  to {
    -webkit-transform: translateX(10em) skewX(-45deg);
            transform: translateX(10em) skewX(-45deg);
  }
}

.top__container .top__info .top__info-box .top__futer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
}

.top__container .top__info .top__info-box .top__futer-info .futer__box-info h3 {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: calc(var(--index)*1.5);
  line-height: 1.1;
  letter-spacing: 7%;
  color: #5C88C9;
}

.top__container .top__info .top__info-box .top__futer-info .futer__box-info p {
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 14px;
  font-size: calc(var(--index)*.9);
  line-height: 23px;
  letter-spacing: 7%;
  color: #000000;
  opacity: 70%;
}

.top__container .top__info .img__wrapper {
  position: relative;
}

.top__container .top__info .img__wrapper .top__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: calc(var(--index)*var(--side-small));
  height: calc(var(--index)*var(--side-big));
}

.second__section {
  background-color: #F1FAFE;
}

.second__section h2 {
  color: #283D6A;
  font-size: calc(var(--index)*2);
  font-family: 'Raleway';
  font-weight: 600;
  margin-top: 50px;
}

.second__section .swiper {
  width: 100%;
  height: 100%;
  max-height: 700px;
  margin-top: 50px;
  overflow-x: hidden;
}

.second__section .swiper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.second__section .swiper .swiper-slide .swiper-box {
  position: relative;
}

.second__section .swiper .swiper-slide .swiper-box p {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: calc(var(--index)*.9);
  font-family: 'Raleway';
  text-transform: uppercase;
  z-index: 5;
}

.second__section .swiper .swiper-slide .swiper-box span {
  font-weight: 600;
}

.second__section .swiper .swiper-slide img {
  border-radius: 5%;
}

.second__section .swiper .swiper-slide .img__wrapper {
  position: relative;
  border-radius: 5%;
  -webkit-box-shadow: 6px 9px 8px 1px rgba(0, 0, 0, 0.68);
  box-shadow: 6px 9px 8px 1px rgba(0, 0, 0, 0.68);
}

.second__section .swiper .swiper-slide .img__wrapper::after {
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 10%;
  background-color: #000000;
  z-index: 2;
  border-radius: 5%;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.second__section .swiper .swiper-slide .img__wrapper::before {
  content: '';
  top: 0;
  left: 10px;
  position: absolute;
  width: 100px;
  height: 100px;
  background-image: url("../img/elements/Group 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 3;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.second__section .swiper .swiper-slide .img__wrapper:hover:after {
  opacity: 70%;
}

.second__section .swiper .swiper-slide .img__wrapper:hover:before {
  width: 140px;
  height: 140px;
  left: 20px;
}

.second__section .swiper .padding {
  height: 50px;
}

.second__section .swiper .swiper-pagination {
  bottom: 0px;
  right: 0;
  z-index: 10;
}

.second__section .swiper .swiper-pagination .swiper-pagination-bullet {
  background-color: #000000;
}

.second__section button {
  right: 0px;
  margin-top: 30px;
}

.services {
  background-color: #F1FAFE;
}

.services__main__text {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  text-align: left;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #283D6A;
  padding-top: 40px;
  padding-bottom: 40px;
}

.services__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  padding-bottom: 30px;
}

.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FFFFFF;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  max-width: 570px;
}

.services_img {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.services_img img {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.services_about {
  padding-left: 20px;
  padding-right: 20px;
}

.serveces__about__text {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
  padding-bottom: 17px;
}

.services__about__article {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 146.4%;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.7);
  padding-bottom: 46px;
}

.services__about__btn {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 59px;
  padding: 6px 12px;
  background-color: #FFFFFF;
  margin-left: 58px;
}

.services__about__btn:hover {
  color: white;
  background-color: #000000;
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 767px) {
  .header_burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
    margin-right: 20px;
    cursor: pointer;
  }
  .header_burger span {
    position: absolute;
    background-color: #000000;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header_burger::before,
  .header_burger::after {
    content: '';
    position: absolute;
    background-color: #000000;
    width: 100%;
    height: 2px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header_burger::before {
    top: 0;
  }
  .header_burger::after {
    bottom: 0;
  }
  .header_menu {
    position: fixed;
    top: -100%;
    right: 0;
    height: 100%;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#5C88C9), color-stop(171.97%, rgba(36, 111, 225, 0.77)));
    background: linear-gradient(180deg, #5C88C9 0%, rgba(36, 111, 225, 0.77) 171.97%);
    z-index: 2;
    padding: 100px 20px 0px 0px;
    -webkit-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
  }
  .header_body {
    height: 50px;
  }
  .header_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    position: relative;
    z-index: 3;
  }
  .header_list li {
    margin-bottom: 30px;
  }
  .header_burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header_burger.active::after {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
    bottom: 9px;
  }
  .header_burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header_burger.active span,
  .header_burger.active::after,
  .header_burger.active::before {
    content: '';
    -webkit-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
  }
  .header_menu.active {
    top: 0;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .container {
    max-width: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  .container {
    max-width: 750px;
  }
  .top__info {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .top__info .top__info-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 300px;
  }
  .top__info .top__info-box .name_person {
    width: 300px;
    text-align: center;
  }
  .top__info .top__info-box .top__futer-info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-right: 0;
  }
  .top__info .top__info-box .top__futer-info .futer__box-info {
    padding-right: 20px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}

@media only screen and (max-width: 1168px) {
  .services__main__text {
    text-align: center;
  }
  .services__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .services__about__btn {
    margin-left: 0;
  }
}

@media only screen and (max-width: 600px) {
  .services__main__text {
    text-align: center;
  }
  .services__img {
    padding-left: 20px;
  }
  .services_about {
    padding-left: 0;
    padding-right: 40px;
  }
  .services__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .services__about__btn {
    margin-left: 0;
    margin-bottom: 7px;
  }
  .services__about__article {
    max-width: 300px;
    padding-bottom: 22px;
  }
}

@media only screen and (max-width: 775px) {
  .img--source img {
    display: none;
  }
  .response__wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 450px) {
  .img--source img {
    display: none;
  }
  .response__wrapper {
    padding-left: 12px;
    padding-right: 12px;
  }
  .innerUserInfo {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.gallery {
  background: -webkit-gradient(linear, left top, left bottom, to(#BBD6EA));
  background: linear-gradient(#BBD6EA 100% #EEF8FD 100%);
}

.gallery h2 {
  color: #283D6A;
  font-size: calc(var(--index)*2);
  font-family: 'Raleway';
  font-weight: 600;
  letter-spacing: 6%;
  margin-top: 50px;
}

.gallery .swiper {
  width: 100%;
  height: 100%;
  margin-top: 40px;
}

.gallery .swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.gallery .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery .swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.gallery .swiper .otstup {
  height: 20px;
}

.gallery .swiper .swiper-scrollbar-drag {
  cursor: pointer;
  background-color: #FFFFFF;
}

.gallery .swiper-slide {
  background-size: cover;
  background-position: center;
}

.gallery .mySwiper2 {
  height: 80%;
  width: 100%;
}

.gallery .mySwiper {
  height: 20%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 0;
}

.gallery .mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.gallery .mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.gallery .swiper-slide img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2%;
}

.form_section {
  background-color: #EDF7FD;
}

.modal_window_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #fff;
}

.modal_window_form .container_modal_form {
  max-width: 669px;
}

.modal_window_form .container_modal_form .modal_header {
  margin: 15px 50px;
}

.modal_window_form .container_modal_form .modal_header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.modal_window_form .container_modal_form .welcome_form {
  text-align: center;
  margin: 35px 0 50px;
}

.modal_window_form .container_modal_form .welcome_form h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  color: #000000;
}

.modal_window_form .container_modal_form .welcome_form h3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 145.4%;
  color: rgba(0, 0, 0, 0.7);
}

.modal_window_form .container_modal_form .main_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 60px;
  margin-bottom: 100px;
}

.modal_window_form .container_modal_form .main_form input {
  border: none;
  outline: none;
  padding: 6px 3px;
  text-transform: capitalize;
  font-family: 'Raleway';
  font-style: normal;
  width: 220px;
  margin-right: 20px;
  border-bottom: 1px solid #000;
  font-weight: 200;
  font-size: 15px;
  line-height: 18px;
  color: black;
  -webkit-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

.modal_window_form .container_modal_form .main_form input:focus {
  -webkit-box-shadow: 0 0 15px red;
          box-shadow: 0 0 15px red;
  border-bottom: none;
}

.modal_window_form .container_modal_form .footer_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25px 50px;
}

.modal_window_form .container_modal_form .footer_form .dot_slider {
  width: 36px;
  position: relative;
}

.modal_window_form .container_modal_form .footer_form .btn_general {
  font-family: 'Raleway';
  font-style: normal;
  border-radius: 20px;
  border: 1px solid black;
  padding: 5px 25px;
  cursor: pointer;
}

.modal_window_form .g-maps {
  background-color: aqua;
  border: 1px solid black;
  max-width: 500px;
}

.dota {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: black;
}

.dota::after, .dota::before {
  content: '';
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
}

.dota::before {
  content: '';
  right: 0;
}

.dota::after {
  content: '';
  right: 36%;
}

.firstscreen {
  display: block;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.firstscreen .modal_header ul li:nth-child(1n) {
  font-weight: 600;
}

.firstscreen .modal_header ul li:nth-child(3n) {
  font-weight: 400;
}

.firstscreen .modal_header ul li:nth-child(5n) {
  font-weight: 400;
}

.secondscreen {
  display: none;
}

.secondscreen .modal_header ul li:nth-child(1n) {
  font-weight: 400;
}

.secondscreen .modal_header ul li:nth-child(3n) {
  font-weight: 600;
}

.secondscreen .modal_header ul li:nth-child(5n) {
  font-weight: 400;
}

.secondscreen .btns_functions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.secondscreen .dota::after {
  content: '';
  background-color: #000000;
}

.secondscreen .dota {
  background-color: red;
}

.thirdscreen {
  display: none;
}

.thirdscreen ul li:nth-child(1n) {
  font-weight: 400;
}

.thirdscreen ul li:nth-child(3n) {
  font-weight: 400;
}

.thirdscreen ul li:nth-child(5n) {
  font-weight: 600;
}

.thirdscreen .dota::before {
  content: '';
  background-color: #000000;
}

.thirdscreen .dota::after {
  content: '';
  background-color: red;
}

.thirdscreen .dota {
  background-color: red;
}

.modal_form {
  position: relative;
}

.secondscreen_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  margin-bottom: 80px;
}

.secondscreen_form input {
  border: none;
  outline: none;
  padding: 6px 3px;
  text-transform: capitalize;
  font-family: 'Raleway';
  font-style: normal;
  border-bottom: 1px solid #000;
  font-weight: 200;
  font-size: 15px;
  line-height: 18px;
  color: black;
  -webkit-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
  width: 230px;
}

.secondscreen_form input:focus {
  -webkit-box-shadow: 0 0 15px red;
          box-shadow: 0 0 15px red;
  border-bottom: none;
}

.secondscreen_welcome {
  text-align: center;
  margin: 35px 0 10px;
}

.secondscreen_welcome h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  color: #000000;
}

.secondscreen_welcome h3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 145.4%;
  color: rgba(0, 0, 0, 0.7);
}

.thirdscreen_welcome {
  text-align: center;
  margin: 70px 0 170px;
}

.thirdscreen_welcome h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  color: #000000;
}

.thirdscreen_welcome h3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 145.4%;
  color: rgba(0, 0, 0, 0.7);
}

.form_services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  margin: 20px 115px;
}

.form_services input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 25px;
  border: 1px solid black;
  padding: 5px 10px;
  cursor: pointer;
  -webkit-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

.form_services input:checked {
  background-color: black;
  color: white;
}

._error {
  -webkit-box-shadow: 0 0 50px blue;
          box-shadow: 0 0 50px blue;
}

.swiper-response {
  border-radius: 25px;
}

.responses {
  background: -webkit-gradient(linear, left top, left bottom, from(#F1FAFE), to(#BAD5EA));
  background: linear-gradient(180deg, #F1FAFE 0%, #BAD5EA 100%);
}

.response__article {
  min-width: 320px;
  max-width: 607px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 1.2rem;
  line-height: 23px;
  color: #000000;
  padding-bottom: 19px;
  max-height: 500px;
  text-overflow: ellipsis;
}

.user_response_name {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  color: #000000;
}

.crapka {
  padding-top: 42px;
  padding-bottom: 27px;
}

.response__wrapper {
  background-color: rgba(185, 228, 255, 0.5);
  padding-left: 90px;
  padding-right: 90px;
  border-radius: 25px;
}

.res_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img--source {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.userLink {
  text-decoration: underline;
}

.swiper--res {
  width: 83%;
  height: 50%;
}

.innerUserInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 28px;
}

.slide--res {
  border-radius: 25px;
}

.btn-res {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  color: #FFFFFF;
  background: -webkit-gradient(linear, left top, left bottom, from(#5C88C9), color-stop(171.97%, rgba(36, 111, 225, 0.48)));
  background: linear-gradient(180deg, #5C88C9 0%, rgba(36, 111, 225, 0.48) 171.97%);
  border-radius: 59px;
  border: none;
  padding: 13px 33px;
}

.btn-res:hover {
  background-color: white;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.button-slide {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 767px) {
  .header_burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
    margin-right: 20px;
    cursor: pointer;
  }
  .header_burger span {
    position: absolute;
    background-color: #000000;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header_burger::before,
  .header_burger::after {
    content: '';
    position: absolute;
    background-color: #000000;
    width: 100%;
    height: 2px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header_burger::before {
    top: 0;
  }
  .header_burger::after {
    bottom: 0;
  }
  .header_menu {
    position: fixed;
    top: -100%;
    right: 0;
    height: 100%;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#5C88C9), color-stop(171.97%, rgba(36, 111, 225, 0.77)));
    background: linear-gradient(180deg, #5C88C9 0%, rgba(36, 111, 225, 0.77) 171.97%);
    z-index: 2;
    padding: 100px 20px 0px 0px;
    -webkit-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
  }
  .header_body {
    height: 50px;
  }
  .header_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    position: relative;
    z-index: 3;
  }
  .header_list li {
    margin-bottom: 30px;
  }
  .header_burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header_burger.active::after {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
    bottom: 9px;
  }
  .header_burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header_burger.active span,
  .header_burger.active::after,
  .header_burger.active::before {
    content: '';
    -webkit-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
  }
  .header_menu.active {
    top: 0;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .container {
    max-width: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  .container {
    max-width: 750px;
  }
  .top__info {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .top__info .top__info-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 300px;
  }
  .top__info .top__info-box .name_person {
    width: 300px;
    text-align: center;
  }
  .top__info .top__info-box .top__futer-info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-right: 0;
  }
  .top__info .top__info-box .top__futer-info .futer__box-info {
    padding-right: 20px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}

@media only screen and (max-width: 1168px) {
  .services__main__text {
    text-align: center;
  }
  .services__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .services__about__btn {
    margin-left: 0;
  }
}

@media only screen and (max-width: 600px) {
  .services__main__text {
    text-align: center;
  }
  .services__img {
    padding-left: 20px;
  }
  .services_about {
    padding-left: 0;
    padding-right: 40px;
  }
  .services__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .services__about__btn {
    margin-left: 0;
    margin-bottom: 7px;
  }
  .services__about__article {
    max-width: 300px;
    padding-bottom: 22px;
  }
}

@media only screen and (max-width: 775px) {
  .img--source img {
    display: none;
  }
  .response__wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 450px) {
  .img--source img {
    display: none;
  }
  .response__wrapper {
    padding-left: 12px;
    padding-right: 12px;
  }
  .innerUserInfo {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
/*# sourceMappingURL=style.css.map */