html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 10px;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 767px) {
  .header_burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
    margin-right: 20px;
    cursor: pointer;
  }
  .header_burger span {
    position: absolute;
    background-color: #000000;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header_burger::before,
  .header_burger::after {
    content: '';
    position: absolute;
    background-color: #000000;
    width: 100%;
    height: 2px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header_burger::before {
    top: 0;
  }
  .header_burger::after {
    bottom: 0;
  }
  .header_menu {
    position: fixed;
    top: -100%;
    right: 0;
    height: 100%;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#5C88C9), color-stop(171.97%, rgba(36, 111, 225, 0.77)));
    background: linear-gradient(180deg, #5C88C9 0%, rgba(36, 111, 225, 0.77) 171.97%);
    z-index: 2;
    padding: 100px 20px 0px 0px;
    -webkit-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
  }
  .header_body {
    height: 50px;
  }
  .header_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    position: relative;
    z-index: 3;
  }
  .header_list li {
    margin-bottom: 30px;
  }
  .header_burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header_burger.active::after {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
    bottom: 9px;
  }
  .header_burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header_burger.active span,
  .header_burger.active::after,
  .header_burger.active::before {
    content: '';
    -webkit-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
  }
  .header_menu.active {
    top: 0;
  }
  .img__wrapper {
    -webkit-transform: translateX(35%);
            transform: translateX(35%);
  }
}

@media (max-width: 760px) {
  .swiper-button-next {
    right: 20px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .swiper-button-prev {
    left: 20px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1168px) {
  .services__main__text {
    text-align: center;
  }
  .services__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .services__about__btn {
    margin-left: 0;
  }
}

@media only screen and (max-width: 600px) {
  .services__main__text {
    text-align: center;
  }
  .services__img {
    padding-left: 20px;
  }
  .services_about {
    padding-left: 0;
    padding-right: 40px;
  }
  .services__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .services__about__btn {
    margin-left: 0;
    margin-bottom: 7px;
  }
  .services__about__article {
    max-width: 300px;
    padding-bottom: 22px;
  }
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Italic-VariableFont_wght.ttf") format("truetype");
  src: url("../fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-Italic-VariableFont_wght.ttf") format("truetype");
  src: url("../fonts/Raleway-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

html,
body {
  position: relative;
  height: 100%;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 15px;
}

.button {
  margin-top: 30px;
  left: 0;
  max-width: 218px;
  color: #FFFFFF;
  border-radius: 59px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, #5c88c9), color-stop(48%, rgba(36, 111, 225, 0.48)));
  background: linear-gradient(#5c88c9 100%, rgba(36, 111, 225, 0.48) 48%);
  padding: 15px 41px;
  font-weight: 400;
  font-size: 24px;
  border: none;
  position: relative;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3em;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-transform: translateX(-4em) skewX(-45deg);
          transform: translateX(-4em) skewX(-45deg);
}

.button:hover:before {
  -webkit-animation: moveLight 1s;
          animation: moveLight 1s;
}

@-webkit-keyframes moveLight {
  from {
    -webkit-transform: translateX(-4em) skewX(-45deg);
            transform: translateX(-4em) skewX(-45deg);
  }
  to {
    -webkit-transform: translateX(10em) skewX(-45deg);
            transform: translateX(10em) skewX(-45deg);
  }
}

@keyframes moveLight {
  from {
    -webkit-transform: translateX(-4em) skewX(-45deg);
            transform: translateX(-4em) skewX(-45deg);
  }
  to {
    -webkit-transform: translateX(10em) skewX(-45deg);
            transform: translateX(10em) skewX(-45deg);
  }
}

a {
  color: #000000;
}

:root {
  --index: calc(1vw + 1vh);
  --side-small: 26;
  --side-big:36;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.header .header_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
  position: relative;
}

.header .header_body .header_logotype {
  position: relative;
  z-index: 3;
  margin-left: 20px;
}

.header .header_body .header_menu .header_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 3;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header .header_body .header_menu .header_list li {
  margin-left: 60px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  text-align: center;
  text-transform: capitalize;
  color: #000000;
}

.header .header_body .selection_languages {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.header .header_body .selection_languages .lang_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header_body .selection_languages img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid black;
}

.header::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 1;
  top: 0;
  left: 0;
  z-index: 3;
}

.main__batton {
  color: #FFFFFF;
  border-radius: 59px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, #5c88c9), color-stop(48%, rgba(36, 111, 225, 0.48)));
  background: linear-gradient(#5c88c9 100%, rgba(36, 111, 225, 0.48) 48%);
  padding: 20px 41px;
  font-weight: 400;
  font-size: 24px;
  border: none;
}

.top__section {
  background: -webkit-gradient(linear, left top, right top, from(rgba(197, 234, 255, 0.3)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, rgba(197, 234, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
  margin-top: 80px;
}

.top__container {
  background-size: contain;
  background-repeat: no-repeat;
}

.top__container .top__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.top__container .top__info .top__img {
  width: 100%;
  max-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top__container .top__info .top__info-box {
  margin-top: 100px;
}

.top__container .top__info .top__info-box .name_person .firstname {
  font-family: 'Raleway';
  font-weight: 900;
  font-size: calc(var(--index)*3);
  line-height: 1.4;
  letter-spacing: 7%;
  color: #3a3f65;
}

.top__container .top__info .top__info-box .name_person h2 {
  color: #5C88C9;
  font-family: 'Raleway';
  font-weight: 900;
  font-size: calc(var(--index)*3);
  line-height: 1.4;
  letter-spacing: 4%;
}

.top__container .top__info .top__info-box p {
  font-family: 'Raleway';
  font-weight: 400;
  font-size: calc(var(--index)*1.2);
  line-height: 30px;
  letter-spacing: 7%;
  line-height: 33px;
  color: #000000;
  opacity: 70%;
  max-width: 570px;
  margin-top: 10px;
}

.top__container .top__info .top__info-box button {
  margin-top: 20px;
  position: relative;
  max-width: 218px;
  overflow: hidden;
}

.top__container .top__info .top__info-box button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3em;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-transform: translateX(-4em) skewX(-45deg);
          transform: translateX(-4em) skewX(-45deg);
}

.top__container .top__info .top__info-box button:hover:before {
  -webkit-animation: moveLight 1s;
          animation: moveLight 1s;
}

@keyframes moveLight {
  from {
    -webkit-transform: translateX(-4em) skewX(-45deg);
            transform: translateX(-4em) skewX(-45deg);
  }
  to {
    -webkit-transform: translateX(10em) skewX(-45deg);
            transform: translateX(10em) skewX(-45deg);
  }
}

.top__container .top__info .top__info-box .top__futer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
}

.top__container .top__info .top__info-box .top__futer-info .futer__box-info {
  padding-right: 80px;
}

.top__container .top__info .top__info-box .top__futer-info .futer__box-info h3 {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: calc(var(--index)*1.5);
  line-height: 1.1;
  letter-spacing: 7%;
  color: #5C88C9;
}

.top__container .top__info .top__info-box .top__futer-info .futer__box-info p {
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 14px;
  font-size: calc(var(--index)*.9);
  line-height: 23px;
  letter-spacing: 7%;
  color: #000000;
  opacity: 70%;
}

.top__container .top__info .img__wrapper {
  position: relative;
}

.top__container .top__info .img__wrapper .top__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: calc(var(--index)*var(--side-small));
  height: calc(var(--index)*var(--side-big));
}

.second__section {
  background-color: #F1FAFE;
}

.second__section h2 {
  color: #000000;
  font-size: calc(var(--index)*2);
  font-family: 'Raleway';
  font-weight: 600;
  margin-top: 50px;
}

.second__section .swiper {
  width: 100%;
  height: 100%;
  margin-top: 50px;
}

.second__section .swiper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.second__section .swiper .swiper-slide .swiper-box {
  position: relative;
}

.second__section .swiper .swiper-slide .swiper-box p {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: calc(var(--index)*.9);
  font-family: 'Raleway';
  text-transform: uppercase;
  z-index: 5;
}

.second__section .swiper .swiper-slide .swiper-box span {
  font-weight: 600;
}

.second__section .swiper .swiper-slide img {
  border-radius: 5%;
}

.second__section .swiper .swiper-slide .img__wrapper {
  position: relative;
  border-radius: 5%;
  -webkit-box-shadow: 6px 9px 8px 1px rgba(0, 0, 0, 0.68);
  box-shadow: 6px 9px 8px 1px rgba(0, 0, 0, 0.68);
}

.second__section .swiper .swiper-slide .img__wrapper::after {
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 10%;
  background-color: #000000;
  z-index: 2;
  border-radius: 5%;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.second__section .swiper .swiper-slide .img__wrapper::before {
  content: '';
  top: 0;
  left: 10px;
  position: absolute;
  width: 100px;
  height: 100px;
  background-image: url("../img/elements/Group 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 3;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.second__section .swiper .swiper-slide .img__wrapper:hover:after {
  opacity: 70%;
}

.second__section .swiper .swiper-slide .img__wrapper:hover:before {
  width: 140px;
  height: 140px;
  left: 20px;
}

.second__section .swiper .swiper-slide .main__batton {
  margin-top: 30px;
  right: 0;
}

.second__section .swiper .swiper-slide .main__batton button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3em;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-transform: translateX(-4em) skewX(-45deg);
          transform: translateX(-4em) skewX(-45deg);
}

.second__section .swiper .swiper-slide .main__batton button:hover:before {
  -webkit-animation: moveLight 1s;
          animation: moveLight 1s;
}

@keyframes moveLight {
  from {
    -webkit-transform: translateX(-4em) skewX(-45deg);
            transform: translateX(-4em) skewX(-45deg);
  }
  to {
    -webkit-transform: translateX(10em) skewX(-45deg);
            transform: translateX(10em) skewX(-45deg);
  }
}

.second__section .button {
  margin-top: 30px;
  right: 0;
}

.second__section .button button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3em;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-transform: translateX(-4em) skewX(-45deg);
          transform: translateX(-4em) skewX(-45deg);
}

.second__section .button button:hover:before {
  -webkit-animation: moveLight 1s;
          animation: moveLight 1s;
}

@keyframes moveLight {
  from {
    -webkit-transform: translateX(-4em) skewX(-45deg);
            transform: translateX(-4em) skewX(-45deg);
  }
  to {
    -webkit-transform: translateX(10em) skewX(-45deg);
            transform: translateX(10em) skewX(-45deg);
  }
}

.services {
  background-color: #F1FAFE;
}

.services__main__text {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  text-align: left;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #000000;
  padding-top: 40px;
  padding-bottom: 40px;
}

.services__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  padding-bottom: 30px;
}

.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FFFFFF;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  max-width: 570px;
}

.services_img {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.services_img img {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.services_about {
  padding-left: 20px;
  padding-right: 20px;
}

.serveces__about__text {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
  padding-bottom: 17px;
}

.services__about__article {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 146.4%;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.7);
  padding-bottom: 46px;
}

.services__about__btn {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 59px;
  padding: 6px 12px;
  background-color: #FFFFFF;
  margin-left: 58px;
}

.services__about__btn:hover {
  color: white;
  background-color: #000000;
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 767px) {
  .header_burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
    margin-right: 20px;
    cursor: pointer;
  }
  .header_burger span {
    position: absolute;
    background-color: #000000;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header_burger::before,
  .header_burger::after {
    content: '';
    position: absolute;
    background-color: #000000;
    width: 100%;
    height: 2px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header_burger::before {
    top: 0;
  }
  .header_burger::after {
    bottom: 0;
  }
  .header_menu {
    position: fixed;
    top: -100%;
    right: 0;
    height: 100%;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#5C88C9), color-stop(171.97%, rgba(36, 111, 225, 0.77)));
    background: linear-gradient(180deg, #5C88C9 0%, rgba(36, 111, 225, 0.77) 171.97%);
    z-index: 2;
    padding: 100px 20px 0px 0px;
    -webkit-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
  }
  .header_body {
    height: 50px;
  }
  .header_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    position: relative;
    z-index: 3;
  }
  .header_list li {
    margin-bottom: 30px;
  }
  .header_burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header_burger.active::after {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
    bottom: 9px;
  }
  .header_burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header_burger.active span,
  .header_burger.active::after,
  .header_burger.active::before {
    content: '';
    -webkit-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
  }
  .header_menu.active {
    top: 0;
  }
  .img__wrapper {
    -webkit-transform: translateX(35%);
            transform: translateX(35%);
  }
}

@media (max-width: 760px) {
  .swiper-button-next {
    right: 20px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .swiper-button-prev {
    left: 20px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1168px) {
  .services__main__text {
    text-align: center;
  }
  .services__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .services__about__btn {
    margin-left: 0;
  }
}

@media only screen and (max-width: 600px) {
  .services__main__text {
    text-align: center;
  }
  .services__img {
    padding-left: 20px;
  }
  .services_about {
    padding-left: 0;
    padding-right: 40px;
  }
  .services__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .services__about__btn {
    margin-left: 0;
    margin-bottom: 7px;
  }
  .services__about__article {
    max-width: 300px;
    padding-bottom: 22px;
  }
}
/*# sourceMappingURL=style.css.map */