@import 'common/common';

@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat-Italic-VariableFont_wght.ttf")format("truetype");
    src: url("../fonts/Montserrat-VariableFont_wght.ttf")format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url("../fonts/Raleway-Italic-VariableFont_wght.ttf") format("truetype");
    src: url("../fonts/Raleway-VariableFont_wght.ttf")format("truetype");
    font-style: normal;
    font-weight: normal;
}

// general style
html,
    body {
      position: relative;
      height: 100%;
      overflow-x: hidden;
    }
.container{
    margin: 0 auto;
    max-width: 1200px;
    padding: 15px;
}

.button{
    margin-top: 30px;
    left: 0;
    max-width: 218px;
    color: #FFFFFF;
    border-radius: 59px;
    background: linear-gradient(rgba(92, 136, 201, 1)100%,rgba(36, 111, 225, 0.48)48%);
    padding: 15px 41px;
    font-weight: 400;
    font-size: 24px;
    border: none;  
    position: relative;
    &::before{
        content: ""; 
        position: absolute; 
        top: 0; 
        left: 0; 
        width: 3em; 
        height: 100%; 
        background-color: rgba(255, 255, 255, 0.3);
        transform: translateX(-4em) skewX(-45deg);         
    }
    &:hover:before {
        animation: moveLight 1s;
    }
    
    @keyframes moveLight {
    from {
        transform: translateX(-4em) skewX(-45deg);
    }
    to {
        transform: translateX(10em) skewX(-45deg);
    }
    }
}  
a{
    color: #000000;
}
:root{
    --index: calc(1vw + 1vh);
    --side-small: 26;
    --side-big:36;
}

// header

.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    
    .header_body{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        position: relative;
        
        .header_logotype{
            position: relative;
            z-index: 3;
            margin-left: 20px;
        }
        .header_menu{
            
            .header_list{
                display: flex;
                justify-content: space-between;
                position: relative;
                z-index: 3;
                flex-wrap: wrap;
                li{
                    margin-left: 60px;
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                    /* identical to box height */

                    text-align: center;
                    text-transform: capitalize;

                    color: #000000;
                }
            }
        }
        .selection_languages{
            position: relative;
            z-index: 3;
            display: flex;
            gap: 15px;
            
            .lang_box{
                display: flex;
                align-items: center;
            }
            img{
                width: 20px;
                height: 20px;
                border-radius: 50%;
                border: 1px solid black;
            }
        }
    }
}
.header::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: 3;
    
}
/////////////////////

/// 1st section
.main__batton{
   color: #FFFFFF;
   border-radius: 59px;
   background: linear-gradient(rgba(92, 136, 201, 1)100%,rgba(36, 111, 225, 0.48)48%);
   padding: 20px 41px;
   font-weight: 400;
   font-size: 24px;
   border: none;  
}
                

.top__section{
    background: linear-gradient(to right, rgba(197, 234, 255, 0.3)0%, rgba(255, 255, 255, 0)100%);
    margin-top: 80px;
}
.top__container{
    background-size: contain;
    background-repeat: no-repeat;
    .top__info{
        display: flex;
        justify-content: space-between;
        // align-items: flex-start;
        flex-wrap: wrap-reverse;
        .top__img{
            width: 100%;
            max-width: 400px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .top__info-box{
            margin-top: 100px;
            .name_person{
                & .firstname{
                    font-family: 'Raleway';
                    font-weight: 900;
                    font-size: calc(var(--index)*3);
                    line-height: 1.4;
                    letter-spacing: 7%;
                    color:rgb(58, 63, 101);
                }
                & h2{
                    color: #5C88C9;
                    font-family: 'Raleway';
                    font-weight: 900;
                    font-size: calc(var(--index)*3);
                    line-height: 1.4;
                    letter-spacing: 7%;
                }
            }
            & p{
                font-family: 'Raleway';
                font-weight: 400;
                font-size: calc(var(--index)*1.2);
                line-height: 30px;
                letter-spacing: 7%;
                line-height: 33px;
                color:#000000;
                opacity: 70%; 
                max-width: 570px;
                margin-top: 10px;
            }
            & button{
                margin-top: 20px;
                position: relative;
                max-width: 218px;
                overflow: hidden;
            }
            & button::before{
                content: ""; 
                position: absolute; 
                top: 0; 
                left: 0; 
                width: 3em; 
                height: 100%; 
                background-color: rgba(255, 255, 255, 0.3);
                transform: translateX(-4em) skewX(-45deg);
                       
            }
            & button:hover:before {
                animation: moveLight 1s;
            }
            
            @keyframes moveLight {
            from {
                transform: translateX(-4em) skewX(-45deg);
            }
            to {
                transform: translateX(10em) skewX(-45deg);
            }
            }
            .top__futer-info{
                display: flex;
                justify-content:flex-start;
                align-items: center;
                margin-top: 100px;
                .futer__box-info{
                    padding-right: 80px; 
                    h3{
                        font-family: 'Raleway';
                        font-weight: 800;
                        font-size: calc(var(--index)*1.5);
                        line-height: 1.1;
                        letter-spacing: 7%;
                        color: #5C88C9;
                    }
                    p{
                        font-family: 'Raleway';
                        font-weight: 400;
                        font-size: 14px;
                        font-size: calc(var(--index)*.9);
                        line-height: 23px;
                        letter-spacing: 7%;
                        color:#000000;
                        
                        opacity: 70%;
                        
                    }
                }
            }
        }
        .img__wrapper{
            position: relative;
            .top__img{
                object-fit: cover;
                width:calc(var(--index)*var(--side-small));
                height:calc(var(--index)*var(--side-big)) ;
            }
        }
    }
}


//second section
.second__section{
    background-color: #F1FAFE;
    h2{
        color: #000000;
        font-size: calc(var(--index)*2);
        font-family: 'Raleway';
        font-weight: 600;
        margin-top: 50px;
    }
    .swiper {
        width: 100%;
        height: 100%;
        margin-top: 50px;
        .swiper-slide{
            display: flex;
            justify-content: space-around;
            align-items: center;
            .swiper-box{
                position: relative;
                p{
                    position: absolute;
                    bottom:0;
                    left:0;
                    padding: 15px;
                    color: #FFFFFF;
                    font-size: calc(var(--index)*.9);
                    font-family: 'Raleway';
                    text-transform: uppercase;
                    z-index: 5;
                }
                span{
                    font-weight: 600;
                }
            }    
            img{
                border-radius: 5%;
            }
            .img__wrapper{
                position: relative;
                border-radius: 5%;
                -webkit-box-shadow: 6px 9px 8px 1px rgba(0,0,0,0.68); 
                box-shadow: 6px 9px 8px 1px rgba(0,0,0,0.68);
            }
            .img__wrapper::after{
                content: '';
                top:0;
                left:0;
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 10%;
                background-color: #000000;
                z-index: 2;
                border-radius: 5%;
                transition: 1s ease;
            }
            .img__wrapper::before{
                content: '';
                top:0;
                left:10px;
                position: absolute;
                width: 100px;
                height: 100px;
                background-image: url('../img/elements/Group\ 1.png');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                z-index: 3;
                transition: 1s ease;
            }
            .img__wrapper:hover:after{
                opacity: 70%;
            }
            .img__wrapper:hover:before{
                width: 140px;
                height: 140px;
                left: 20px;
            }
            .main__batton{
                margin-top: 30px;
                right: 0;
                & button::before{
                    content: ""; 
                    position: absolute; 
                    top: 0; 
                    left: 0; 
                    width: 3em; 
                    height: 100%; 
                    background-color: rgba(255, 255, 255, 0.3);
                    transform: translateX(-4em) skewX(-45deg);         
                }
                & button:hover:before {
                    animation: moveLight 1s;
                }
                
                @keyframes moveLight {
                from {
                    transform: translateX(-4em) skewX(-45deg);
                }
                to {
                    transform: translateX(10em) skewX(-45deg);
                }
                }
            }  
      }
      
    }
    
    .button{
        margin-top: 30px;
        right: 0;
        & button::before{
            content: ""; 
            position: absolute; 
            top: 0; 
            left: 0; 
            width: 3em; 
            height: 100%; 
            background-color: rgba(255, 255, 255, 0.3);
            transform: translateX(-4em) skewX(-45deg);         
        }
        & button:hover:before {
            animation: moveLight 1s;
        }
        
        @keyframes moveLight {
        from {
            transform: translateX(-4em) skewX(-45deg);
        }
        to {
            transform: translateX(10em) skewX(-45deg);
        }
        }
    }  
}
<<<<<<< HEAD
=======


// SERVICES

.services{
    background-color: #F1FAFE;
}

.services__main__text{
    
font-family: 'Raleway';
font-style: normal;
font-weight:600;
font-size: 48px;
line-height: 56px;
text-align: left;
letter-spacing: 0.05em;
text-transform: capitalize;
color: #000000;
padding-top: 40px;
padding-bottom: 40px;
}
.services__inner {
    display: flex;
    gap: 30px;
    padding-bottom: 30px;
  
   
}
.services__item {
    display: flex;
    background-color: #FFFFFF;
    align-items: center;
    border-radius: 10px;
    max-width: 570px;
    
}
.services_img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    align-self: baseline;
     img{
         border-top-left-radius: 10px;
         border-bottom-left-radius: 10px;
     }
}
.services_about {
    padding-left: 20px;
    padding-right: 20px;
}
.serveces__about__text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #000000;
    padding-bottom: 17px;
    

}
.services__about__article {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 146.4%;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.7);
    padding-bottom: 46px;
}
.services__about__btn {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 59px;
    padding: 6px 12px;
    background-color: #FFFFFF;
    margin-left: 58px;
    &:hover{
        color: white;
        background-color: #000000;
        transition: 1s ease-out;
    }
}
@import 'common/media';
>>>>>>> e490bc471b17d876b1524b97827e9c915282c39c
