/* Extra small devices (phones, 600px and down) */ 
@media only screen and (max-width: 767px) {
    .header_burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
        margin-right: 20px;
        cursor: pointer;
    }
    .header_burger span{
        position: absolute;
        background-color: #000000;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .header_burger::before,
    .header_burger::after{
        content: '';
        position: absolute;
        background-color: #000000;
        width: 100%;
        height: 2px;
        transition: all 0.3s ease 0s;
    }
    .header_burger::before{
        top: 0;
    }
    .header_burger::after{
        bottom: 0;
    }
    .header_menu{
        position: fixed;
        top: -100%;
        right: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(180deg, #5C88C9 0%, rgba(36, 111, 225, 0.77) 171.97%);
        z-index: 2;
        padding: 100px 20px 0px 0px;
        transition: all 0.7s ease 0s;
        
    }
    .header_body{
        
        height: 50px;
    }
    .header_list{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: relative;
        z-index: 3;
        li{
            margin-bottom: 30px;
        }
    }
    .header_burger.active span{
        transform: scale(0);
    }
    .header_burger.active::after{
        transform: rotate(135deg);
        bottom: 9px;
    }
    .header_burger.active::before{
        transform: rotate(45deg);
        top: 9px;
    }
    .header_burger.active span,
    .header_burger.active::after,
    .header_burger.active::before{
        content: '';
        transition: all 0.7s ease 0s;
    }
    .header_menu.active{
        top: 0;
        
    }
    .img__wrapper{
        transform: translateX(35%);
    }
    
} 
@media (max-width: 760px) {
    .swiper-button-next {
        right: 20px;
        transform: rotate(90deg);
    }

.swiper-button-prev {
    left: 20px;
    transform: rotate(90deg);
}
}
/* Small devices (portrait tablets and large phones, 600px and up) */ 
@media only screen and (min-width: 600px) {
    // .img__wrapper{
    //     transform: translateX(40%);
    // }
} 
/* Medium devices (landscape tablets, 768px and up) */ 
@media only screen and (min-width: 768px) {
    // .img__wrapper{
    //     transform: translateX(50%);
    // }
} 
/* Large devices (laptops/desktops, 992px and up) */ 
@media only screen and (min-width: 992px) {
    // .img__wrapper{
    //     transform: translateX(70%);
    // }
} 
/* Extra large devices (large laptops and desktops, 1200px and up) */ 
@media only screen and (min-width: 1200px) {

}